@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
    font-size: 15px;
}

html {
    font-family: 'Questrial', sans-serif;
}


.css-13cymwt-control{
    background-color: transparent !important;
}
/* Custom Scrollbar Styles */

/* For both vertical and horizontal scrollbars */
::-webkit-scrollbar {
    width: 8px; /* Vertical scrollbar width */
    height: 8px; /* Horizontal scrollbar height */
    background-color: #f1f1f1; /* Background color of the scrollbar */
}

/* Horizontal scrollbar - target it to make it thinner */
::-webkit-scrollbar-horizontal {
    height: 6px; /* Thinner horizontal scrollbar */
}

/* Vertical scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners of scrollbar thumb */
}

/* On hover, darken the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of scrollbar thumb on hover */
}

/* Firefox custom scrollbar */
.scrollbar-thin {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #888 #f1f1f1; /* Thumb and track colors */
}

.swiper-pagination {
    position: absolute;
    text-align: right !important;
    padding-right: 20px !important;
    bottom: 20px !important;
    left: auto !important;
    right: 0 !important;
    width: auto !important;
}
.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    margin: 0 5px !important;
    background: white !important;
    opacity: 0.7 !important;
}
.swiper-pagination-bullet-active {
    opacity: 1 !important;
    background: white !important;
}

.main-blue{
    color: #28A8E0;
}

.main-blue-bg{
    background-color: #28A8E0;
}

.main-green{
    color: #8DC63F;
}

.main-green-bg{
    background-color: #8DC63F;
}

.main-gray{
    color: #403F41;
}

input::placeholder {
    font-weight: 600;
    /*color: #403F41;*/
}
